<ion-view title="New">
    <ion-content class="">

        <!--This is the button used for the barcode scanner-->
        <div class="padding">
        <button class="button button-block button-stable" ng-click="fillInputs()">Scan Textbook Barcode</button>
        <button class="button button-block button-stable" ng-click="fillWithFake()">Fill with Test Data</button>
            <!--<button class="button button-block button-stable" ng-click="bookTest()">Test Book</button>-->
            <!--<button class="button button-block button-stable" ng-click="fillInputs('9781617290589')">Test Input Fill</button>-->
        </div>

        <form name="myForm" novalidate>
            <div class="list">
                <div class="control-group">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Barcode Number (UPC) *</span>
                        <input id="upc" value="" name="upc" ng-model="textbook.upc" required type="text" placeholder="9780596006303">

                        <span class="error" ng-show="showValidationMessages && myForm.course.$error.required">
                            Use the Barcode Scanner (or type in the barcode)
                        </span>
                    </label>
                </div>
                <div class="control-group">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Book Title *</span>
                        <input id="title" value="" ng-model="textbook.title" name="title" required type="text" placeholder="Intro to College Algebra">

                        <span class="error" ng-show="showValidationMessages && myForm.title.$error.required">Insert Title</span>
                    </label>
                </div>
                <div class="control-group">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Course</span>
                        <input name="course" ng-model="textbook.course" type="text" placeholder="DGM 3790">

                        <!--<span class="error" ng-show="showValidationMessages && myForm.course.$error.required">Insert Course Name</span>-->
                    </label>
                </div>
                <div class="control-group">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">isbn10</span>
                        <input id="isbn10" value="" ng-model="textbook.isbn10" name="isbn10" type="text" placeholder="0538470828">

                        <!--<span class="error" ng-show="showValidationMessages && myForm.isbn10.$error.required">Insert isbn10</span>-->

                    </label>
                </div>
                <div class="control-group">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">ISBN-13</span>
                        <input id="isbn13" value="" ng-model="textbook.isbn13" name="isbn13" type="text" placeholder="978-0538470827">

                        <!--<span class="error" ng-show="showValidationMessages && myForm.isbn13.$error.required">Insert ISBN-13</span>-->

                    </label>
                </div>

                <div class="control-group">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Asking Price *</span>
                        <input ng-model="textbook.value" required name="value" type="number" placeholder="40">

                        <span class="error" ng-show="showValidationMessages && myForm.value.$error.required">Insert Price</span>

                    </label>
                </div>
                <div class="control-group">
                    <li class="item item-toggle">
                        Available for Trade?
                        <label class="toggle toggle-positive">
                            <input ng-model="textbook.trade" name='trade' type="checkbox">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </li>
                </div>
                <div class="control-group">
                    <div class="padding">
                        <span class="input-label">Condition *</span>
                        <div class="conditionDescription">
                            {{textbook.condition.description}}
                        </div>
                    </div>
                    <div class="item range range-positive item-stacked-label no-border-top">
                        <i class="icon ion-thumbsdown"></i>
                        <input ng-model="textbook.condition.value" type="range" name="volume" min="1" max="5" ng-change="updateCondition(textbook)">
                        <i class="icon ion-thumbsup"></i>
                    </div>
                </div>

                <div class="control-group">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Ad Description</span>
                        <textarea name="description" ng-model="textbook.description" placeholder="Comments"></textarea>
                    </label>
                </div>

                <div class="control-group">

                    <!--This is just for testing purposes-->
                    <!--<label class="item item-input item-stacked-label">-->
                        <!--<span class="input-label">Add an Image</span>-->
                        <!--<input ng-model="textbook.image" required name="image" type="file">-->
                    <!--</label>-->

                <!--button to take a picture of a textbook cover-->
                <div class="padding">
                    <button class="button button-block button-stable" ng-click="takePicture()">Take Picture</button>
                </div>
                <!--display the picture taken underneath the Take Picture button-->
                <div class="padding">
                    <img ng-src="{{textbook.imageURI}}">
                </div>
                <div class="padding">
                    <button class="button button-block button-positive" ng-click="submit(myForm)">Submit</button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
