<ion-view title="{{textbook.title}}">
  <ion-content has-header="true" padding="true">
    <div class="item">
        <div class="textbook-thumbnail">
          <img ng-src="{{textbook.imageURL}}" >
        </div>
        
        <div class="textbook-thumbnail">
          <h3>Seller: {{seller.userName}} ({{seller.fullName}})</h3>
          <h3>Condition: {{textbook.condition}}</h3>
          <h3>Phone: {{seller.phone}}</h3>
          <h3>email: {{seller.email}}</h3>
        </div>
    </div>
  </ion-content>
</ion-view>
